<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas Earth</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="script.js?v=<%= version %>"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css?v=<%= version %>">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="https://github.com/TernaryOPStatement/RentCalculatorAtlasEarth">Rent Calculator Atlas Earth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About</a>
                </li>
                <li class="nav-item">
                    <a href="https://r.atlasearth.com/lLSDIA40AGb" class="nav-link">Join the fun</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="notifications"></ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6 order-sm-2 order-md-1 align-self-center holding-div">
                <form onsubmit="">
                    <label for="common">Common:</label>
                    <input type="number"  class="one0Reset" id="common" name="common" value="0" min="0" onfocus="clearInputValue(this)"><br>
                    <label for="rare">Rare:</label>
                    <input type="number"  class="one0Reset" id="rare" name="rare" value="0" min="0" onfocus="clearInputValue(this)"><br>
                    <label for="epic">Epic:</label>
                    <input type="number"  class="one0Reset" id="epic" name="epic" value="0" min="0" onfocus="clearInputValue(this)"><br>
                    <label for="legendary">Legendary:</label>
                    <input type="number"  class="one0Reset" id="legendary" name="legendary" value="0" min="0" onfocus="clearInputValue(this)"><br>
                    <label for="passport">Badges:</label>
                    <input type="number"  class="one0Reset" id="passport" name="passport" value="0" min="0" onfocus="clearInputValue(this)"><br>
                    <button type="submit" class="btn">Submit</button>
                    <button type="button" class="btn" onclick="resetForm()">Clear</button>
                </form>
                <span>Total Parcels:&nbsp;<span class="one0Reset" id="totalParcels">0</span></span><br>
                <span>Passport Boost:&nbsp;<span class="one0Reset" id="boost">0</span>%</span><br>
                <span>Total Per Second:&nbsp;<span class="three0Reset"  id="total">0.00</span></span><br><br>
                <span>Total Per Second with 30X:&nbsp;<span class="three0Reset" id="thirtyX">0.00</span></span><br>
                <span>Total Per Second with 50X:&nbsp;<span class="three0Reset" id="fiftyX">0.00</span></span><br><br>
                <span>Total Per Day:&nbsp;<span class="three0Reset" id="perDay">0.00</span></span><br>
                <span>Total Per Day with 30X&nbsp;<span class="three0Reset" id="perDay30x">0.00</span></span><br><br>
                <span>Total Over 30 Days: &nbsp;<span class="three0Reset"  id="days">0.00</span></span><br>
                <span>Total Over 30 Days With 30X:&nbsp;$<span class="three0Reset" id="textToCopy">0.00</span></span>
                <img id="copyIcon" class="logo img-fluid hl-div" src="./images/copy-48.png" alt="Copy">
              <br>
            </div>
            <div class="col-md-6 align-self-center order-sm-1 order-md-2">
                <img src="./images/bg-globe.png" alt="" class="logo img-fluid">
            </div>
        </div>
<br>
        <div class="row justify-content-center d-flex flex-wrap align-items-center">
            <div class="col-md-6">
                <h2 class="d-inline">Rarities Breakdown</h2>
                <div id="piechart"></div><br class="d-lg-none">
            </div>

            <div class="col-md-6 d-flex flex-wrap align-items-center">
                <h2 class="d-inline">Daily Login Bonus&MediumSpace;</h2>
                <img src="./images/coin.png" alt="" class="logo img-fluid coin">
           
                <table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Free Streak Bonus</th>
                            <th>Explorer Club Streak Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                            <td>90 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>8 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                            <td>180 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>50 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                            <td>500 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>80 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                            <td>650 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>200 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                            <td>1200 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                        </tr>
                        <tr>
                            <td>Total 90 Day Streak Bonus</td>
                            <td>424 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                            <td>10370 <img src="./images/coin.png" alt="" class="logo coin-small img-fluid"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
<br>
<div class="row justify-content-center align-self-center">
   
</div>

<div class="row justify-content-center align-self-center">
    
</div> 

<br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="./images/Screenshot_20240115_091627_Atlas Earth.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img src="./images/Screenshot_20240115_091949_Atlas Earth.jpg" alt="" class="img-fluid">
            </div>
        </div>
<br>
</div>

    <footer class="py-3">
      <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="./about.html" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="https://r.atlasearth.com/lLSDIA40AGb" class="nav-link px-2 text-body-secondary">Join the fun</a></li>
      </ul>
      <p class="text-center text-body-secondary">2024 Torq Development, Inc</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
