body {
    font-family: 'Comic Neue', cursive;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}

hr {
    margin: 20px 0;
}

#piechart {
    width: 900px;
    height: 500px;
}

img {
    height: 600px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.5);
}

