form {
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
}

#piechart {
    width: 900px;
    height: 500px;
}

img {
    height: 600px;
    /* width: 80%; */
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.5);
}

 .logo {
    /* height: 400px; */
    margin-bottom: 5px;
    box-shadow: none;
 }
 #piechart {
    width: 100%;
 }
 
 body {
    font-family: 'Comic Neue', cursive;
    background-color: #f8f9fa;
    font-weight: bold;
}